<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user) { %>
      <h3>Hello <%= user.first_name %></h3>
      <a href='/message/create'>Add a message</a><br>
      <% if(!user.is_member) { %>
        <a href=<%= '/user/'+user.id+"/join" %>>Become a member</a><br>
      <% } else if (!user.is_admin) { %>
        <a href=<%= '/user/'+user.id+"/admin" %>>Become an admin</a><br>
      <% } %>
      <a href="/sign_out">Sign Out</a>
    <% } else { %>
      <a href="/sign_in">Sign In</a>
    <% } %>
    <p>Welcome to <%= title %></p>
    <% if (messages) { messages.forEach(message => { %>
      <h3><%= message.title %> </h3>
        <h5><%= message.user %> </h5>
      <h4><%= message.text %> </h4>
    <% })} %>
  </body>
</html>